<head>
    <title>Editar Roupas</title>
</head>
<body>
    <h1>Editar Roupas</h1>
    <form action="/roupas/{{roupas.id}}?_method=PUT" method="POST">
        <label for="ipnPeca">Peça</label>
        <input type="text" name="peca" id="ipnPeca" value="{{roupas.peca}}" required>
        <br>
        <label for="ipnTecido">Tecido</label>
        <input type="texto" name="tecido" id="ipnTecido" value="{{roupas.tecido}}" required>
         <br>
        <label for="ipnValor">Valor</label>
        <input type="integer" name="valor" id="ipnValor" value="{{roupas.valor}}" required>
         <br>
        <label for="ipnImagem">Imagem</label>
        <input type="texto" name="imagem" id="ipnImagem" value="{{roupas.imagem}}" required>
        
        

        <input type="submit" value="Salvar">
    </form>
</body>
</html>