<style>        
        .topo-loja {
            display: flex;
            justify-content: space-between;
            align-items: center;        
            background-color: deeppink;    
            padding: 15px 30px;          
            font-family: Arial, sans-serif;
        }
        .barra-pesquisa {
            display: flex;
            flex-grow: 1;                 
            max-width: 600px;              
            margin: 0 40px;               
        }
        .barra-pesquisa input {
            width: 100%;
            padding: 10px 15px;
            border: none;
            border-radius: 50px 0 0 50px;  
            font-size: 16px;
            outline: none;
        }
        .barra-pesquisa button {
            background-color:pink;   
            border: none;
            padding: 0 15px;
            border-radius: 0 50px 50px 0;   
            cursor: pointer;
            font-size: 18px;
        }
        h1{
            color:black;
            left:50px;
            margin-top: 20px;
            font-size: 15px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-family: cursive;
        }

        h3{
            color: black;
            text-align: center;
            margin-top: 10px;
        }
        p{
            color: black;
            text-align: center;
            margin-top: 10px;
        }
        img{
            width: 150px;
            height: 170px;
            border-radius: 0%;
            border-style:double; border-color: #cf1b6f;
        }

        body{

            background-color: pink;
            height: 100vh;
            font-family: monospace;

        }

        #divPrincipal{
            display: flex;
            flex-wrap: wrap;
            height: 80%;
            width: 100%;
            margin: 0 auto;
            justify-content:left;
            align-items: center;
            gap: 20px;
        }
        p{
            font-family:  'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        #menu{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;


            height: 5vh;
            margin-bottom: 5vh;

            background-color: khaki;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            box-shadow: 0 0 10px gray;
            width: 90%;
            margin: 0 auto;
        }
    </style>
</head>
<body>  <header class="topo-loja">
        <div class="logo">
            <h1>LINDA <br> Fashion</h1>
        </div>

         <div class="barra-pesquisa">
            <input type="text" placeholder="Buscar produtos, marcas e muito mais...">
            <button type="submit">🔍</button>
         </div>
        </div>
    </header>
    <ol>
    <div class="menu">
        <a href="/roupas/cadastrar">Cadastrar roupa</a>
        <a href="/">Home</a>
    </div>

     </ol>

    <div id="divPrincipal">
    {{#each roupas}}
        
        <div style="border:1px solid #cf1b6f; padding:20px; margin:15px;">
            <img src="{{this.imagem}}">
            <h3>Peça: {{this.peca}}</h3>
            <p>Tecido: {{this.tecido}}</p>        
            <p>Valor: {{this.valor}}</p>

                <a href="/roupas/{{this.id}}/editar"><button type="button">✏️</button></a>
                <br>
                <br>
                <form action="/roupas/excluir/{{this.id}}" method="POST" style="display.inline;">
                    <button type="submit" title="Exluir" style="border:none">🗑️</button>
                </form>
        </div>

    {{/each}}
    </ol>
    </div>
    
</body>
</html>